@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Gamja+Flower&display=swap");

/* reset */
* {
  font-family: "Gamja Flower", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Variable */
$main-color: #55b2d4;
$accent-color: #ffe400;
$text-color: #eb7e00;

/* built-in-function */
$color: (
  bg-dark-color: #000,
  bg-light-color: #fff,
  bg-gray-color: #808080,
  accent-color: #dc143c,
  theme-color: #eb7e00,
);

/* Mixin */
@mixin headerStyle {
  display: flex;
  gap: 10px;
  align-items: center;
  .title {
    font: bold 16px/1 "Gamja Flower", sans-serif;
    color: $text-color;
  }
  .subtitle {
    font: normal 14px/1 "Gamja Flower", sans-serif;
  }
}

@mixin buttonType {
  border: none;
  border-radius: 20px;
  padding: 2px 8px;
  background: #414141;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    background-color: #eb7e00;
    color: #fff;
  }
}

/* common */
html,
body {
  width: 100%;
  height: 100%;
}
.wrapper {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .wrapper_header {
    width: 100%;
    .contents_title {
      @include headerStyle;
    }
    .divideLine {
      width: 100%;
      border-top: 1px solid $text-color;
      margin: 4px 0;
    }
    .albumWrapper {
      display: flex;
      justify-content: space-around;
      .album_thumnail {
        width: 130px;
        height: 130px;
      }
      .album_songtitle {
        text-align: center;
        font-size: 12px;
        color: gray;
      }
      .album_artist {
        text-align: center;
        font-size: 14px;
        color: #eb7e00;
      }
    }
  }
  .wrapper_body {
    width: 100%;
    .contents_title {
      @include headerStyle;
      margin: 4px 0;
    }
    .albumTable {
      width: 100%;
      padding: 2px;
      border-spacing: 0;
      th {
        background: #eb7e00;
        font-weight: normal;
        color: azure;
        border-top: 1px solide #fff;
        border-bottom: 1px dotted #fff;
      }
      td {
        color: rgb(61, 61, 61);
        border-bottom: 1px dashed gray;
      }
      .albumTable_checkbox {
        width: 5%;
        text-align: center;
      }
      .albumTable_number {
        width: 20%;
        text-align: center;
      }
      .albumTable_song {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        padding-left: 40px;
        .fa-solid {
          display: inline-block;
          color: rgb(61, 61, 61);
          font-size: 10px;
          cursor: pointer;
          &:hover {
            color: crimson;
          }
          .fa-brands {
            display: inline-block;
            color: rgb(61, 61, 61);
            font-size: 10px;
            cursor: pointer;
            &:hover {
              color: crimson;
            }
          }
        }
      }
      .album_artist {
        width: 26%;
        text-align: center;
      }
    }
    .albumTable_footer {
      margin-top: 4px;
      display: flex;
      justify-content: space-between;
      .albumTable_footer_center {
        color: crimson;
        cursor: pointer;
      }
      button {
        font-size: 10px;
        background: gray;
        color: #fff;
        border: none;
        padding: 3px;
        border-radius: 5px;
        cursor: pointer;
        &:hover {
          background: $text-color;
          color: #fff;
        }
      }
    }
  }
}
