/* reset */
@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Gamja+Flower&display=swap");
/* common */
.background {
  width: 100%;
  height: 100vh;
  background: url("./contents/bg_kakao1.jpg") center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.background .outerbox {
  background: url("./contents/outerbox_ryan_theme.png") center/cover no-repeat;
  border-radius: 10px;
  width: 808px;
  height: 544px;
  position: relative;
}
.background .outerbox .wrapper {
  padding: 30px;
  display: flex;
  position: relative;
}

/* built-in-function */
/* wrapper_left */
.wrapper_left {
  width: 208px;
  height: 472px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 12px;
}
.wrapper_left .wrapper_left_header {
  width: 100%;
  height: 30px;
  font-size: 16px;
  display: flex;
}
.wrapper_left .wrapper_left_header .zero {
  color: #dc143c;
}
.wrapper_left .wrapper_left_body {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid #808080;
  border-radius: 15px;
}
.wrapper_left .wrapper_left_body .left_body_header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper_left .wrapper_left_body .left_body_header .left_body_header_gray {
  width: 148px;
  height: 133px;
  background: url("./contents/lionprofile.jfif") center/cover no-repeat;
  border-radius: 10px;
}
.wrapper_left .wrapper_left_body .left_body_header .left_body_header_line {
  border-top: 1px dotted #000;
  margin: 12px 0;
  width: 90%;
}
.wrapper_left .wrapper_left_body .left_body_profile {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  color: #eb7e00;
}
.wrapper_left .wrapper_left_body .left_body_profile .profile_detail {
  display: flex;
  align-items: center;
  gap: 10px;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.wrapper_left .wrapper_left_body .left_body_footer .wrapper_feel .feel_title {
  font-weight: bold;
}

/* wrapper_right */
.wrapper_right {
  position: absolute;
  left: 240px;
  width: 524px;
  height: 472px;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.wrapper_right .wrapper_right_header {
  display: flex;
  justify-content: space-between;
  color: #eb7e00;
}
.wrapper_right .wrapper_right_header .right_header_title {
  font-weight: bold;
}
.wrapper_right .wrapper_right_header .right_header {
  font-size: 16px;
}
.wrapper_right .wrapper_right_body {
  width: 100%;
  height: 445px;
  border: 1px solid #808080;
  border-radius: 8px;
  background: #fff;
}
.wrapper_right .wrapper_right_body iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

/* navigation */
.navigation {
  width: 70px;
  height: 110px;
  position: absolute;
  top: 5%;
  right: -70px;
  gap: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navigation .navigation_item {
  width: 100%;
  height: 40px;
  background: #f7e1ad;
  color: #eb7e00;
  text-align: center;
  line-height: 30px;
  border-radius: 0 10px 10px 0;
  border: 6px solid #fec054;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}